@import "../styles/variables.scss";

.active {
  color: $Aqua !important;
}

nav {
  ul {
    li {
      .nav-link {
        color: white;

        &:hover {
          color: $PinkBrown;
        }
      }
    }
  }
}
