<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="[ '/topposts']">Blog Dip</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="[ '/topposts' ]" routerLinkActive="test">Postovi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/topposts' ]" routerLinkActive="test">Profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/post/new' ]" routerLinkActive="test">Novi Post</a>
    </li>
  </ul>
  <div class="d-inline my-2 my-lg-0">
    <button *ngIf="!isLoggedIn" class="btn btn-outline-success my-2 my-sm-0 mx-2"
      [routerLink]="['/register']">Signin</button>
    <button *ngIf="!isLoggedIn" class="btn btn-outline-warning my-2 my-sm-0 mx-2"
      [routerLink]="['/login']">Login</button>
    <button *ngIf="isLoggedIn" class="btn btn-outline-danger my-2 my-sm-0 mx-2" (click)="logout()">Logout</button>
  </div>
</nav>
