<div id="container" *ngIf="post">
  <h1 class="title">{{post.name}}
    <button class="btn btn-warning mr-2" *ngIf="isUserOwner()" (click)="editPost()">Izmeni</button>
    <button class="btn btn-danger" *ngIf="isUserOwner()" (click)="deletePost()">Obriši</button>
  </h1>
  {{post.modifiedOn | date}}
  <p>
    Autor:
    <a class="username-link" [routerLink]="[ '/user', post.createdById ]">{{post.createdBy.username | uppercase}}</a>
  </p>
  <hr>
  <!-- <div id="post" [innerHTML]="post.content | sanitizeHtml"> -->
  <!-- </div> -->
  <quill-editor [style]="{ border: '0px' }" theme="bubble" [readOnly]="true" [(ngModel)]="post.content"
    [readOnly]="readOnly"></quill-editor>

  <br>
  <h4>
    Komentari
  </h4>
  <div *ngIf="comments">
    <app-comment *ngFor="let comment of comments; trackBy: trackByFn" [comment]="comment"
      (onDelete)="deleteComment(comment.id);"></app-comment>
  </div>
  <app-comment-form (commented)="saveComment($event)"></app-comment-form>
</div>
