<div id="container" *ngIf="post">
  <h1 class="title">{{post.name}} <button class="btn btn-warning" *ngIf="isUserOwner()"
      (click)="editPost()">Izmeni</button>
  </h1>
  {{post.modifiedOn | date}}
  <p>
    Autor:
    <a [routerLink]="[ '/user', post.createdById ]">{{post.createdBy.username}}</a>
  </p>
  <hr>
  <div id="post" [innerHTML]="post.content">
  </div>
  <br>

  <h4>
    Komentari
  </h4>
  <div *ngIf="comments">
    <app-comment *ngFor="let comment of comments; trackBy: trackByFn" [comment]="comment"
      (onDelete)="deleteComment(comment.id);"></app-comment>
  </div>
  <app-comment-form (commented)="saveComment($event)"></app-comment-form>
</div>
